{% extends "products/base.html" %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-lg p-4 card-login">
            <h3 class="text-center mb-4">Пароль изменён</h3>
            <p class="text-center text-white mb-0">Пароль успешно изменён.</p>
            <div class="text-center mt-3">
                <a href="{% url 'users:profile' %}" class="login-link">Вернуться в профиль</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
